.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    .image{
        width: 100px;
        height: 100px;
    }
}
.Title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}

